@import "nib"
@import "includes/normalize.styl"



primary_color = #4DC1C8
gray_color = #E9EAED
dark_color = #273B46
acent_color = #FF4081



html
  font-size 100%
  
body
  font-family 'Lato', serif
  padding 0
  text-align center
  margin 0

button,
html input[type="button"],
input[type="reset"],
input[type="submit"]
  -webkit-appearance none

.btn
  display inline-block
  line-height 1
  color white
  text-align center
  vertical-align middle
  font-size .8rem
  white-space nowrap
  background-color acent_color
  border none
  font-weight bold
  cursor pointer
  margin 0
  margin-left 1px
  padding 1em
  border-radius 4px
  transition all .3s ease
  
  &:hover
    text-decoration none

.btn:active,
.btn:hover,
.btn:focus
  outline none
  box-shadow 0 3px 12px rgba(dark_color, 0.3)




.main-header
  background-color primary_color
  color dark_color
  padding .8em
  margin 0
  margin-top -4px
  position relative
  z-index 1000
  h1
    letter-spacing 3px
    display inline-block
    margin 0
    
  h2
    font-size 1.2rem
    font-weight normal
    display block


.container
  max-width 1024px
  width 90%
  margin 0 auto
  position relative 

.Search
  background-color gray_color
  display block
  font-size 3rem
  margin-top -500px
  position absolute
  transition all .3s ease
  width 100%
  z-index 999
  padding 20px 0
  box-shadow 0 3px 3px rgba(dark_color, 0.2)  
  &.visible
    margin-top 0
    
  &__text
    width 50%
    font-size 1rem
    line-height 2em
    border none
    outline none
    margin 10px auto
    display block
    padding 0 20px
  &__status
    color acent_color
    transition all .3s ease
    width 50%
    margin 0 auto
    display block
    font-size 1.5rem
  
      
      

.add
  position fixed
  bottom 40px
  width 35px
  height 35px
  right 30px
  border-radius 50%
  overflow hidden
  box-shadow 0 3px 5px rgba(dark_color, 0.5)
  z-index 1000
  background acent_color url('../img/search.png') center no-repeat
  background-size 50%
  
  &.cerrar
    transform rotate(45deg)
  
  &:hover
    box-shadow 0 3px 12px rgba(dark_color, 0.7)

.close
  position absolute
  right 10px
  top 10px
  border-radius 50%
  width 30px
  height 30px
  background acent_color url('../img/close.png') center no-repeat
  background-size 50%
  box-shadow 0 3px 12px rgba(dark_color, 0.3)
  
  &:hover
    box-shadow 0 3px 12px rgba(dark_color, 0.5)
    transform rotate(90deg)

.cards_container
  display flex
  flex-wrap wrap
  justify-content space-around
  
.card
  background-color gray_color
  border-radius 2px
  box-shadow 0 0 2px rgba(dark_color, 0.5)
  box-sizing border-box
  color dark_color
  display inline-block
  font-family 'Lato'
  height 200px
  margin 10px 3px 5px
  overflow hidden
  padding .5em
  position relative
  transition all .3s ease
  width 20%
  min-width 250px
        
.card__header
  margin 0
  
.card__title
  margin 0
  font-size 2em
  color dark_color
  margin 0

.card__time
  font-size 1rem
  text-align center
  color dark_color
  margin 0
  &::after 
    content " hrs."
    display inline-block
    

.card__info
  position absolute
  bottom 0
  left 0
  padding .5em
  text-align center

.card__temp-actual
  background-color primary_color
  width 100%
  display inline-block


.card__image
  display inline-block
  vertical-align middle
  width 60px
  float left

.card__maxt
  color #ff4842
  line-height 2em
  margin-bottom 5px
  float right
  text-shadow none
  &::before
    content "max: "
  &::after
    content " ºC"
    font-size 1em

.card__mint
  color #4dc1c8
  text-shadow none
  line-height 2em
  float left
  &::before
    content "min: "
  &::after
    content " ºC"
    font-size 1em

.card__temp
  display inline-block
  margin-top 10px
  font-size 2rem
  color white
  &::after
    content " ºC"
    font-size 2rem


.loader
  text-align center
  padding 1em

.topbar
  background-color dark_color
  width 100%
  height 50px
  display inline-block
  margin 0
  padding 0
  position relative
  z-index 1000